.light:root {
    --md-sys-color-primary: var(--md-sys-color-primary-light);
    --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
    --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
    --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
    --md-sys-color-secondary: var(--md-sys-color-secondary-light);
    --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
    --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
    --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
    --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
    --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
    --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
    --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
    --md-sys-color-error: var(--md-sys-color-error-light);
    --md-sys-color-error-container: var(--md-sys-color-error-container-light);
    --md-sys-color-on-error: var(--md-sys-color-on-error-light);
    --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
    --md-sys-color-background: var(--md-sys-color-background-light);
    --md-sys-color-on-background: var(--md-sys-color-on-background-light);
    --md-sys-color-surface: var(--md-sys-color-surface-light);
    --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
    --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
    --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
    --md-sys-color-outline: var(--md-sys-color-outline-light);
    --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
    --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
    --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
    --md-sys-color-shadow: var(--md-sys-color-shadow-light);
    --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
    --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
    --md-sys-color-scrim: var(--md-sys-color-scrim-light);
}

.dark:root {
    --md-sys-color-primary: var(--md-sys-color-primary-dark);
    --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
    --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
    --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
    --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
    --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
    --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
    --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
    --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
    --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
    --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
    --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
    --md-sys-color-error: var(--md-sys-color-error-dark);
    --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
    --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
    --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
    --md-sys-color-background: var(--md-sys-color-background-dark);
    --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
    --md-sys-color-surface: var(--md-sys-color-surface-dark);
    --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
    --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
    --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
    --md-sys-color-outline: var(--md-sys-color-outline-dark);
    --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
    --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
    --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
    --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
    --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
    --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
    --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
}

:root {
    --md-source: #d15471;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #400015;
    --md-ref-palette-primary20: #660026;
    --md-ref-palette-primary25: #770c30;
    --md-ref-palette-primary30: #871a3b;
    --md-ref-palette-primary35: #972746;
    --md-ref-palette-primary40: #a73452;
    --md-ref-palette-primary50: #c74c6a;
    --md-ref-palette-primary60: #e86582;
    --md-ref-palette-primary70: #ff869e;
    --md-ref-palette-primary80: #ffb2be;
    --md-ref-palette-primary90: #ffd9de;
    --md-ref-palette-primary95: #ffecee;
    --md-ref-palette-primary98: #fff8f7;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #3f0015;
    --md-ref-palette-secondary20: #660026;
    --md-ref-palette-secondary25: #7b002f;
    --md-ref-palette-secondary30: #900039;
    --md-ref-palette-secondary35: #a60043;
    --md-ref-palette-secondary40: #bc004d;
    --md-ref-palette-secondary50: #ea0161;
    --md-ref-palette-secondary60: #ff4d7e;
    --md-ref-palette-secondary70: #ff869e;
    --md-ref-palette-secondary80: #ffb2be;
    --md-ref-palette-secondary90: #ffd9de;
    --md-ref-palette-secondary95: #ffecee;
    --md-ref-palette-secondary98: #fff8f7;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #410000;
    --md-ref-palette-tertiary20: #61130b;
    --md-ref-palette-tertiary25: #701e15;
    --md-ref-palette-tertiary30: #7f291f;
    --md-ref-palette-tertiary35: #8f3529;
    --md-ref-palette-tertiary40: #9f4034;
    --md-ref-palette-tertiary50: #be584a;
    --md-ref-palette-tertiary60: #de7061;
    --md-ref-palette-tertiary70: #ff8a79;
    --md-ref-palette-tertiary80: #ffb4a8;
    --md-ref-palette-tertiary90: #ffdad5;
    --md-ref-palette-tertiary95: #ffedea;
    --md-ref-palette-tertiary98: #fff8f6;
    --md-ref-palette-tertiary99: #fffbff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #201a1b;
    --md-ref-palette-neutral20: #362f2f;
    --md-ref-palette-neutral25: #413a3a;
    --md-ref-palette-neutral30: #4d4546;
    --md-ref-palette-neutral35: #595051;
    --md-ref-palette-neutral40: #655c5d;
    --md-ref-palette-neutral50: #7e7575;
    --md-ref-palette-neutral60: #988e8f;
    --md-ref-palette-neutral70: #b4a9a9;
    --md-ref-palette-neutral80: #cfc4c4;
    --md-ref-palette-neutral90: #ece0e0;
    --md-ref-palette-neutral95: #fbeeee;
    --md-ref-palette-neutral98: #fff8f7;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #24191a;
    --md-ref-palette-neutral-variant20: #3a2d2f;
    --md-ref-palette-neutral-variant25: #46383a;
    --md-ref-palette-neutral-variant30: #524345;
    --md-ref-palette-neutral-variant35: #5e4f50;
    --md-ref-palette-neutral-variant40: #6a5a5c;
    --md-ref-palette-neutral-variant50: #847375;
    --md-ref-palette-neutral-variant60: #9f8c8e;
    --md-ref-palette-neutral-variant70: #baa6a8;
    --md-ref-palette-neutral-variant80: #d6c2c3;
    --md-ref-palette-neutral-variant90: #f3dddf;
    --md-ref-palette-neutral-variant95: #ffecee;
    --md-ref-palette-neutral-variant98: #fff8f7;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #a73452;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ffd9de;
    --md-sys-color-on-primary-container-light: #400015;
    --md-sys-color-secondary-light: #bc004d;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #ffd9de;
    --md-sys-color-on-secondary-container-light: #3f0015;
    --md-sys-color-tertiary-light: #9f4034;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #ffdad5;
    --md-sys-color-on-tertiary-container-light: #410000;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbff;
    --md-sys-color-on-background-light: #201a1b;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #201a1b;
    --md-sys-color-surface-variant-light: #f3dddf;
    --md-sys-color-on-surface-variant-light: #524345;
    --md-sys-color-outline-light: #847375;
    --md-sys-color-inverse-on-surface-light: #fbeeee;
    --md-sys-color-inverse-surface-light: #362f2f;
    --md-sys-color-inverse-primary-light: #ffb2be;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #a73452;
    --md-sys-color-outline-variant-light: #d6c2c3;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #ffb2be;
    --md-sys-color-on-primary-dark: #660026;
    --md-sys-color-primary-container-dark: #871a3b;
    --md-sys-color-on-primary-container-dark: #ffd9de;
    --md-sys-color-secondary-dark: #ffb2be;
    --md-sys-color-on-secondary-dark: #660026;
    --md-sys-color-secondary-container-dark: #900039;
    --md-sys-color-on-secondary-container-dark: #ffd9de;
    --md-sys-color-tertiary-dark: #ffb4a8;
    --md-sys-color-on-tertiary-dark: #61130b;
    --md-sys-color-tertiary-container-dark: #7f291f;
    --md-sys-color-on-tertiary-container-dark: #ffdad5;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #201a1b;
    --md-sys-color-on-background-dark: #ece0e0;
    --md-sys-color-surface-dark: #201a1b;
    --md-sys-color-on-surface-dark: #ece0e0;
    --md-sys-color-surface-variant-dark: #524345;
    --md-sys-color-on-surface-variant-dark: #d6c2c3;
    --md-sys-color-outline-dark: #9f8c8e;
    --md-sys-color-inverse-on-surface-dark: #201a1b;
    --md-sys-color-inverse-surface-dark: #ece0e0;
    --md-sys-color-inverse-primary-dark: #a73452;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #ffb2be;
    --md-sys-color-outline-variant-dark: #524345;
    --md-sys-color-scrim-dark: #000000;
}
